<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../css/tayo.css" />
    <link rel="stylesheet" href="../css/recipes.css" />
    <title>Add Recipe</title>
</head>

<body>

    <div class="flex nowrap column">
        <section class="flex row navigation">
            <nav class="flex row col-lg-6 align-items-center">
                <div class="flex row justify-content-space-between col-lg-6 align-items-center">
                    <a class="justify-content-flex-start logo" href="../html/home.html">All-Recipes</a>
                    <ul class="flex row justify-content-flex-end">
                        <li><a>Shop</a></li>
                        <li><a>Contact</a></li>
                        <li><a href="../html/userprofile.html">Profile</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </div>
    <div class="flex flex-wrap row yellow lighten-5 vh-100">
        <div class="container flex center-align align-items-center justify-content-center  addrecipe-form">
            <form class="container column">
                <div class="title-div">
                    <img src="../img/blur-breakfast-close-up-dairy-product-376464.jpg" alt="Logo" />
                    <h3>Add Recipe</h3>
                </div>
                <div class="input-field field-color">
                    <input type="text" id="dname" class="validate" required />
                    <label for="dname">Name of Dish</label>
                </div>
                <div class="file-field input-field field-color">
                    <div class="btn">
                        <span>Choose Image</span>
                        <input type="file" multiple />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload Image of Dish" required />
                    </div>
                </div>
                <div class="input-field field-color">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Ingredients</label>
                    <span class="helper-text">Each Ingredients should be written on a new line and each line
              should begin with a hyphen</span
            >
          </div>
          <div class="input-field field-color">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="textarea2" class="materialize-textarea"></textarea>
            <label for="textarea2">Steps to Prepare</label>
            <span class="helper-text"
              >Each Step should be written on a new line and each line should
              begin with a hyphen</span
            >
          </div>
          <button type="submit">Add Recipe</button>
        </form>
      </div>
    </div>

    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script>
      $("#textarea1").val("New Text");
      M.textareaAutoResize($("#textarea1"));

      $("textarea2").val("New Text");
      M.textareaAutoResize($("#textarea2"));
    </script>
  </body>
</html>