<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="../css/tayo.css" />
    <link rel="stylesheet" href="../css/cardview.css" />
    <title>Recipe Card</title>
</head>

<body>
    <div class="flex nowrap column">
        <section class="flex row navigation">
            <nav class="flex row col-lg-6 align-items-center">
                <div class="flex row justify-content-space-between col-lg-6 align-items-center">
                    <a class="justify-content-flex-start logo" href="../html/home.html">All-Recipes</a
            >
            <ul class="flex row justify-content-flex-end">
              <li><a>Shop</a></li>
                    <li><a>Recipes</a></li>
                    <li><a>Contact</a></li>
                    <li><a href="../html/userprofile.html">Profile</a></li>
                    <li><a>Logout</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </div>
    <div class="flex flex-wrap row">
        <div class="flex column container justify-content-center card-view">
            <section class="flex column image-section img-section">
                <img src="../img/brown-fish-fillet-on-white-ceramic-plate-46239.jpg" alt="Meal Image" />
            </section>
            <section class="flex column align-items-center name-section">
                <span><p>Brown Fish</p></span>
            </section>
            <section class="flex column ing-section">
                <span class="strong">Ingredients</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit libero ad alias harum ut impedit quia voluptates culpa molestiae officia neque laborum consequuntur, quam amet beatae odio hic magni necessitatibus!
                </p>
            </section>
            <section class="flex row button-section">
                <a class="update"><i class="material-icons left">edit</i></a>
                <a class="delete"><i class="material-icons left">delete</i></a>
            </section>
        </div>
        <div class="flex column container justify-content-center card-view">
            <section class="flex column image-section img-section">
                <img src="../img/brown-fish-fillet-on-white-ceramic-plate-46239.jpg" alt="Meal Image" />
            </section>
            <section class="flex column align-items-center name-section">
                <span><p>Brown Fish</p></span>
            </section>
            <section class="flex column ing-section">
                <span class="strong">Ingredients</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit libero ad alias harum ut impedit quia voluptates culpa molestiae officia neque laborum consequuntur, quam amet beatae odio hic magni necessitatibus!
                </p>
            </section>
            <section class="flex row button-section">
                <a class="update"><i class="material-icons left">edit</i></a>
                <a class="delete"><i class="material-icons left">delete</i></a>
            </section>
        </div>
        <div class="flex column container justify-content-center card-view">
            <section class="flex column image-section img-section">
                <img src="../img/brown-fish-fillet-on-white-ceramic-plate-46239.jpg" alt="Meal Image" />
            </section>
            <section class="flex column align-items-center name-section">
                <span><p>Brown Fish</p></span>
            </section>
            <section class="flex column ing-section">
                <span class="strong">Ingredients</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit libero ad alias harum ut impedit quia voluptates culpa molestiae officia neque laborum consequuntur, quam amet beatae odio hic magni necessitatibus!
                </p>
            </section>
            <section class="flex row button-section">
                <a class="update"><i class="material-icons left">edit</i></a>
                <a class="delete"><i class="material-icons left">delete</i></a>
            </section>
        </div>
    </div>

    <script type="text/javascript" src="../js/materialize.min.js"></script>
</body>

</html>