<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/tayo.css" />
    <link rel="stylesheet" href="../css/navigation.css" />
    <title>Home</title>
</head>

<body>
    <div class="flex nowrap column">
        <section class="flex row navigation">
            <nav class="flex row col-lg-6 align-items-center">
                <div class="flex row justify-content-space-between col-lg-6 align-items-center">
                    <a class="justify-content-flex-start logo" href="../html/home.html">All-Recipes</a
            >
            <ul class="flex row justify-content-flex-end">
              <li><a><i class="material-icons">
                shopping_cart
                </i></a></li>
                    <li><a><i class="material-icons">
                        call
                        </i></a></li>
                    <li><a href="../html/signup.html"><i class="material-icons">
                        person_add
                        </i></a></li>
                    </ul>
                </div>
            </nav>
        </section>
        <section class="flex row jumbotron">
            <div class="flex column right-side align-items-center justify-content-center">
                <p>All-Recipes</p>
                <p>Get your juices flowing,</p>
                <p>By satisfying your tastebuds with the mix of the perfect ingredient to get a perfect texture and feeling.!!!</p>
            </div>
        </section>
        <section class="flex row search">
            <div class="flex column first-half">
                <p>Recipes</p>
            </div>
            <div class="flex column second-half">
                <p><i class="material-icons">
                    search
                    </i><input type="text" placeholder="Search recipes and more" /></p>
            </div>
            <div class="flex column third-half">
                <p>
                    sort by:<select>
              <option value="volvo">Tradition</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
                </p>
            </div>
        </section>
        <section class="flex row recipe">
            <div class="flex column one-half">
                <p>Filter by:</p>
                <p>Featured</p>
                <p>Test Kitchen Approved</p>
                <p>Meal</p>
                <p>Dish Type</p>
            </div>
            <div class="flex row two-half">
                <a>
                    <div class="recipe-div">
                        <img src="../img/blur-breakfast-close-up-dairy-product-376464.jpg" alt="Pancake" class="recipe-img" />
                        <div class="Stars" style="--rating: 5.0;" aria-label="Rating of this product is 2.3 out of 5."></div>
                        <p>Raspberry-Raspberry Pancakes</p>
                    </div>
                </a>
                <a>
                    <div class="recipe-div">
                        <img src="../img/brown-fish-fillet-on-white-ceramic-plate-46239.jpg" alt="Fish" class="recipe-img" />
                        <div class="Stars" style="--rating: 4.0;" aria-label="Rating of this product is 2.3 out of 5."></div>
                        <p>Brown Fish and Soy Sauce</p>
                    </div>
                </a>
                <a>
                    <div class="recipe-div">
                        <img src="../img/plate-of-rice-and-cooked-meat-1624487.jpg" alt="Rice" class="recipe-img" />
                        <div class="Stars" style="--rating: 3.5;" aria-label="Rating of this product is 2.3 out of 5."></div>
                        <p>Basmati Rice and Seasoned Chicken</p>
                    </div>
                </a>
            </div>
        </section>
    </div>

    <script type="text/javascript" src="../js/materialize.min.js"></script>
</body>

</html>