<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/tayo.css">
    <link rel="stylesheet" href="../css/recipelist.css">
    <title>Document</title>
</head>

<body>
    <div class="flex nowrap column">
        <section class="flex row navigation">
            <nav class="flex row col-lg-6 align-items-center">
                <div class="flex row justify-content-space-between col-lg-6 align-items-center">
                    <a class="justify-content-flex-start logo" href="../html/home.html">All-Recipes</a
                >
                <ul class="flex row justify-content-flex-end">
                  <li><a><i class="material-icons">
                    shopping_cart
                    </i></a></li>
                    <li><a href="../html/addrecipe.html"><i class="material-icons">
                            menu_book
                            </i></a></li>
                    <li><a><i class="material-icons">
                            call
                            </i></a></li>
                    <li><a href="../html/signup.html"><i class="material-icons">
                            person_add
                            </i></a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </div>
    <div class="flex flex-wrap column align-items-center">
        <section class="flex row recipe-list">
            <img src="../img/blur-breakfast-close-up-dairy-product-376464.jpg" alt="Image">
            <div class="flex column align-items-center justify-content-center divider">
                <p class="header-name">Pancakes and Honey Syrub along side Strawberry </p>
                <ul>
                    <li><strong>-</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatibus nesciunt</li>
                    <li> -incidunt tempore blanditiis, aut perspiciatis unde saepe accusantium impedit, adipisci rem omnis.</li>
                    <li> -Quisquam, fugit alias animi voluptatum labore doloremque!</li>
                </ul>
                <p class="text-align">Author: Mary Jane Daniel</p>
                <div class="flex row justify-content-space-between">
                    <a><i class="material-icons">
                            thumb_up
                            </i></a>
                    <a><i class="material-icons">
                            thumb_down
                            </i></a>
                    <a class="review" href="../html/review.html"><i class="material-icons">
                            comment
                      </i>  
                      </a>
                </div>

            </div>

        </section>
        <section class="flex row recipe-list">
            <img src="../img/brown-fish-fillet-on-white-ceramic-plate-46239.jpg" alt="Image">
            <div class="flex column align-items-center justify-content-center divider">
                <p class="header-name">Brown Fish Fillet with Soy Sauce </p>
                <ul>
                    <li><strong>-</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatibus nesciunt</li>
                    <li> -incidunt tempore blanditiis, aut perspiciatis unde saepe accusantium impedit, adipisci rem omnis.</li>
                    <li> -Quisquam, fugit alias animi voluptatum labore doloremque!</li>
                </ul>
                <p class="text-align">Author: Mary Jane Daniel</p>
                <div class="flex row justify-content-space-between">
                    <a><i class="material-icons">
                                thumb_up
                                </i></a>
                    <a><i class="material-icons">
                                thumb_down
                                </i></a>
                    <a class="review" href="../html/review.html"><i class="material-icons">
                                comment
                          </i>  
                          </a>
                </div>

            </div>

        </section>
        <section class="flex row recipe-list">
            <img src="../img/selective-focus-photography-of-beef-steak-with-sauce-675951.jpg" alt="Image">
            <div class="flex column align-items-center justify-content-center divider">
                <p class="header-name">Beef Steak with Sauce </p>
                <ul>
                    <li><strong>-</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatibus nesciunt</li>
                    <li> -incidunt tempore blanditiis, aut perspiciatis unde saepe accusantium impedit, adipisci rem omnis.</li>
                    <li> -Quisquam, fugit alias animi voluptatum labore doloremque!</li>
                </ul>
                <p class="text-align">Author: Mary Jane Daniel</p>
                <div class="flex row justify-content-space-between">
                    <a><i class="material-icons">
                                thumb_up
                                </i></a>
                    <a><i class="material-icons">
                                thumb_down
                                </i></a>
                    <a class="review" href="../html/review.html"><i class="material-icons">
                                comment
                          </i>  
                          </a>
                </div>

            </div>

        </section>
        <section class="flex row recipe-list">
            <img src="../img/plate-of-rice-and-cooked-meat-1624487.jpg" alt="Image">
            <div class="flex column align-items-center justify-content-center divider">
                <p class="header-name">Sea Rice and Grilled Chicken </p>
                <ul>
                    <li><strong>-</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatibus nesciunt</li>
                    <li> -incidunt tempore blanditiis, aut perspiciatis unde saepe accusantium impedit, adipisci rem omnis.</li>
                    <li> -Quisquam, fugit alias animi voluptatum labore doloremque!</li>
                </ul>
                <p class="text-align">Author: Mary Jane Daniel</p>
                <div class="flex row justify-content-space-between">
                    <a><i class="material-icons">
                                thumb_up
                                </i></a>
                    <a><i class="material-icons">
                                thumb_down
                                </i></a>
                    <a class="review"><i class="material-icons">
                                comment
                          </i>  
                          </a>
                </div>

            </div>

        </section>
    </div>
</body>

</html>