<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../css/tayo.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <title>Sign Up</title>
</head>

<body>
    <div class="flex flex-wrap row yellow lighten-5 vh-100">
        <div class="container flex center-align align-items-center justify-content-center  signup-form">
            <form class="container column">
                <div class="title-div">
                    <img src="../img/blur-breakfast-close-up-dairy-product-376464.jpg" alt="Logo" />
                    <h3>Sign Up</h3>
                </div>
                <div class="input-field field-color">
                    <input type="text" id="fname" class="validate" required />
                    <label for="fname">First Name</label>
                </div>
                <div class="input-field field-color">
                    <input type="text" id="sname" class="validate" required />
                    <label for="sname">Last Name</label>
                </div>
                <div class="input-field field-color">
                    <input type="email" id="email" class="validate" required />
                    <label for="email">Email</label>
                </div>
                <div class="input-field field-color">
                    <input type="password" id="password" class="validate" required />
                    <label for="password">Password</label>
                </div>
                <button type="submit"><a href="../html/userprofile.html">Sign Up</a></button>
                <span>
            <a
              class="flex column blue-text justify-content-center"
              href="../html/signin.html"
              >Don't have an account? Sign In</a
            ></span
          >
        </form>
      </div>
    </div>

    <script type="text/javascript" src="../js/materialize.min.js"></script>
  </body>
</html>