<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../css/tabs.css" />
    <title>Document</title>
</head>

<body>
    <section class="sidetabs">
        <input id="sidetab-1" type="radio" name="radio-set" class="sidetab-selector-1" checked="checked" />
        <label for="sidetab-1" class="sidetab-label-1"><i class="material-icons prefix">
          person
        </i>
        About</label
      >

      <input
        id="sidetab-2"
        type="radio"
        name="radio-set"
        class="sidetab-selector-2"
      />
      <label for="sidetab-2" class="sidetab-label-2">More</label>

        <!--<div class="clear-shadow"></div>-->

        <div class="content">
            <div class="content-1">
                <h2>About</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia leo sit amet diam varius, ac maximus turpis volutpat. Cras interdum nulla orci, eget convallis tellus mollis ac. Quisque nunc mi, vulputate eget mi id, fringilla rhoncus dui. Morbi
                    rhoncus accumsan rhoncus. Pellentesque ac tellus orci. Mauris facilisis sem eu auctor congue. Praesent at nunc leo. Cras ultricies, orci a placerat auctor, felis erat egestas enim, non porttitor lacus metus at nibh. In sit amet lectus
                    fermentum, gravida turpis nec, dapibus arcu. Cras at nisi faucibus, condimentum odio id, mattis justo. Duis malesuada diam rutrum risus dignissim interdum.
                </p>
            </div>
            <div class="content-2">
                <h2>sidetab 2</h2>
                <p>
                    Aenean tristique hendrerit sapien in porta. Aliquam feugiat luctus blandit. Cras nunc ex, egestas in consequat ac, egestas vitae lectus. Nunc convallis purus sed ex pretium, sit amet dapibus lorem efficitur. Nulla facilisi. Vivamus ut metus purus. Nam
                    tincidunt faucibus dolor, eget aliquet justo. Nullam turpis ipsum, gravida non lacinia ac, condimentum in sapien. Praesent vulputate dolor ac interdum semper. Nullam sed odio semper, tempor libero ut, pharetra enim. Donec at mattis
                    dolor, eget varius turpis. Aliquam erat volutpat. Nulla bibendum rhoncus felis sed accumsan.
                </p>
            </div>
        </div>
    </section>

    <script type="text/javascript " src="../js/materialize.min.js "></script>
</body>

</html>