<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../css/tayo.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <title>Profile</title>
</head>

<!-- opening body tag -->

<body>
    <div class="flex flex-wrap column">
        <!-- opening nav section -->
        <section class="flex row navigation">
            <nav class="flex row col-lg-6 align-items-center">
                <div class="flex row justify-content-space-between col-lg-6 align-items-center">
                    <a class="justify-content-flex-start logo" href="../html/home.html">All-Recipes</a
            >
            <ul class="flex row justify-content-flex-end">
              <li><a><i class="material-icons">
                shopping_cart
                </i></a></li>
                    <li><a><i class="material-icons">
                      menu_book
                      </i></a></li>
                    <li><a><i class="material-icons">
                      call
                      </i></a></li>
                    <li><a><i class="material-icons">
                      vpn_key
                      </i></a></li>
                    </ul>
                </div>
            </nav>
        </section>
        <!-- closing nav section -->
        <!-- opening body section -->
        <section class="flex nowrap row body-section">
            <!-- opening body section right-hand-side -->
            <section class="flex flex-wrap column justify-content-flex-start align-items-start right-body-section">
                <!-- opening right-hand-side img-wrapper section tag -->
                <section class="flex column image-wrapper">
                    <div>
                        <img src="../img/woman-wearing-sunhat-1382731.jpg" alt="ProfileImage" class="profile-img" />
                    </div>
                </section>
                <!-- closing right-hand-side img-wrapper section tag -->
                <!-- opening right-hand-side info-wrapper section tag -->
                <section class=" flex column info-wrapper">
                    <div>
                        <p class="text-17">Email: YoshiBabu@gmail.com</p>
                        <a href="www.gmail.com">
                            <p class="text-17">
                                <i class="material-icons left"> mail </i>Send Mail
                            </p>
                        </a>
                    </div>
                    <div>
                        <p class="text-17">Profession: Teacher</p>
                        <p class="text-17">
                            <a><i class="material-icons left"> person_add </i>Invite friends</a>
                        </p>
                    </div>
                </section>
                <!-- closing right-hand-side info-wrapper section tag -->
                <!-- opening right-hand-side helper-wrapper section tag -->
                <section class="flex column ">
                    <p class="text-17">Has All-Recipe been helpful?</p>
                    <p class="text-17">We love feedbacks</p>
                    <p class="text-17">
                        <i class="material-icons left"> chat </i>Contact Us
                    </p>
                </section>
                <!-- closing right-hand-side helper-wrapper section tag -->
                <!-- closing body section right-hand-side -->
            </section>
            <!-- opening left-hand-side section tag -->
            <section class="flex flex-wrap column ">
                <!-- opening left-hand-side detail-wrapper section tag -->
                <section class="flex flex-wrap column align-items-start ">
                    <h3>Susan White</h3>
                    <p class="text-13">CEO Delish Foods</p>
                    <div class="Stars" style="--rating: 3.0;" aria-label="Rating of this product is 2.3 out of 5."></div>
                    <ul class="flex flex-wrap row activity-ul">
                        <li><i class="material-icons left"> edit </i>Edit Profile</li>
                        <li><i class="material-icons left"> comment </i>Messages</li>
                        <li><i class="material-icons left"> people_alt </i>Followers</li>
                        <li>
                            <a href="../html/cardview.html"><i class="material-icons left"> menu_book </i>Your Recipes</a>
                        </li>
                    </ul>
                </section>
                <!-- closing left-hand-side detail-wrapper section tag -->
            </section>
            <!-- closing left-hand-side section tag -->
        </section>
        <!-- closing body section tag -->
    </div>

    <script type="text/javascript " src="../js/materialize.min.js "></script>
</body>

</html>