.navigation {
    width: 100%;
    height: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation a {
    margin: 10px;
    font-weight: 700;
}

.navigation a:hover {
    background: #000000;
    color: #ffffff;
    margin: 10px;
}

.addrecipe-form {
    width: 100%;
}

.title-div {
    margin-bottom: 50px;
}

.title-div h3 {
    font-weight: 500;
    font-size: 2.0em;
}

.title-div img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 5px;
}

.addrecipe-form button {
    background: #f9a825;
    color: black;
    margin: 20px;
    border-radius: 7px;
    width: 180px;
    height: 40px;
    border: none;
}


/* label color */

.field-color {
    margin: 30px;
}


/* label focus color */

.field-color input[type=text]:focus+label {
    color: #f9a825;
}


/* label underline focus color */

.field-color input[type=text]:focus {
    border-bottom: 1px solid #f9a825;
    box-shadow: 0 1px 0 0 #f9a825;
}