.signin-form {
    border: 1px solid black;
    width: 450px;
    height: 450px;
    margin-top: 50px;
}

.title-div {
    margin-bottom: 50px;
}

.title-div h3 {
    font-weight: 500;
    font-size: 2.0em;
}

.title-div img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 15px;
}

.signin-form button {
    background: #f9a825;
    color: black;
    margin: 20px;
    border-radius: 7px;
    width: 180px;
    height: 40px;
    border: none;
}


/* label color */

.field-color label {
    color: #000;
}


/* label focus color */

.field-color input[type=text]:focus+label {
    color: #f9a825;
}


/* label underline focus color */

.field-color input[type=text]:focus {
    border-bottom: 1px solid #f9a825;
    box-shadow: 0 1px 0 0 #f9a825;
}